body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #000d34;
    color: #e9e8f1;
    border-bottom: 7px solid #374062;
    border-radius: 20%;
        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

.border-blue {
    border: 1px dotted blue;
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 300px;
  height: 300px;
  margin: 0 auto;
}

.grid-item {
  background: #000d34;
  animation: move 1s linear infinite;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.3);
}

@keyframes move {
  25% {
    transform: translate(50px, 50px);
  }
  50% {
    transform: translate(-50px, -50px);
  }
  75% {
    transform: translate(-50px, 50px);
  }
}